*{
    margin: 0;
    padding:  0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --header-color: rgb(252, 208, 215);
    --library-color: #f1f1f1;
    --scrollbar-color: black;
    --shadow-color: #00000054;
    --green-button: #57ff57d0;
    --red-button: #ff5757d0;
    --button-color:  #dadada;
}

body{
    background-color: var(--library-color);
    overflow-x: hidden;
    height: 100vh;
}

input, button{
    cursor: pointer;
}

/*#region scrollbar*/
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}
/*#endregion*/

/*#region header*/
header{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1% 0.5% 1%;
    background-color: var(--header-color);
}

.title{
    font-size: clamp(24px, 4vw,32px);
}

/*#endregion*/

/*#region main*/
main{
    aspect-ratio: 1/1;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    width: 100vw;
}

.box-shadow{
    box-shadow: 0px 0px 5px 0.2px var(--shadow-color);
}

.book-card{
    width: 80%;
    height: 80%;
    background-color: var(--library-color);
    border-radius: 20px;
}

/*#region book config*/
.book-config{
    padding: 5%;
    height: calc(100% - 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-config input{
    border: none;
    width: 100%;
    background-color: transparent;
}

.book-config:nth-child(1) input:nth-child(-n+3){
    border-bottom: 1px solid rgba(24, 24, 24, 0.555);
    font-size: 24px;
}

.book-config label{
    font-size: 16px;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    align-items: center;
}

.book-submit input{
    border: none !important;
    background-color: var(--green-button);
    border-radius: 5px;
    font-size: 18px;
    padding-block: 3px;
    width: 100%;
}
/*#endregion*/

/*#region book display*/
.book-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5%;
}

.book-content button{
    border: none;
    margin-block: 2px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    background-color: var(--button-color);
}

.book-content *{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book-readed{
    background-color: var(--green-button) !important;
}

.book-notreaded, .book-remove {
    background-color: var(--red-button) !important;
}
/*#endregion*/

/*#endregion*/

@media screen and (max-width: 950px) {
    main{
        aspect-ratio: 1/1;
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr 1fr ; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        width: 100vw;
    }
}

@media screen and (max-width: 750px) {
    main{
        aspect-ratio: 1/1;
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          ". ."
          ". ."; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
        width: 100vw;
    }
}