*{
    margin: 0;
    padding: 0;
}

:root{
    --header-color: white;
    --bookarea-color: #f3f3f3;
}

body{
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header{
    height: 15%;
    padding-inline: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
}

.book-area{
    background-color: var(--bookarea-color);
    height: 75%;
    display: flex;
    padding-inline: 3%;
    align-items: center;
    gap: 3%;
}

.book{
    height: 320px;
    width: 250px;
    -webkit-box-shadow: 0px 0px  10px 1px #00000091; 
    box-shadow: 0px 0px  10px 1px #00000091;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config{
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-config{
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(49, 49, 49, 0.562);
    background-color: transparent;
}

.info-config:active{
}

.title{
    font-size: 36px;
    font-weight: 500;
}

.author{
    opacity: 0.8;
}

.pages{
    font-weight: 400;
    opacity: 0.8;
}

footer{
    height: 10%;
    background-color: transparent;
}